<div class="player">
  <vg-player (onPlayerReady)="onPlayerReady($event)">
    <vg-buffering></vg-buffering>
    <vg-controls>
      <vg-play-pause class="play-button"></vg-play-pause>
      <button class="donate-button">Donate</button>
      <vg-time-display vgProperty="current" vgFormat="hh:mm:ss"></vg-time-display>
      <vg-scrub-bar (mouseover)="onMouseOver($event)" (mouseleave)="onMouseLeave()" (document:mousemove)="onMouseMove($event)">
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
      <vg-time-display vgProperty="total" vgFormat="hh:mm:ss"></vg-time-display>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen></vg-fullscreen>
    </vg-controls>
    <video #media (click)="onVideoClick()" (dblclick)="onVideoDclick()" [vgMedia]="media" id="singleVideo" preload="auto" crossorigin>
      <source [src]="video.src" type="{{ video.type }}" />
    </video>
  </vg-player>
</div>
<div class="thumbnail" id="thumbnail">
  <img *ngIf="isMouseOver" [src]="thumbSrc">
</div>
