.donate-button {
  background-color: transparent;
  color: red;
  border: none;
  font-size: 21px;
  padding-bottom: 10px;
  outline: none;
}

.play-button {
  padding-bottom: 3px;
}

.player {
  position: relative;
  margin: 0 auto;
}

.video-player {
  width: 100%;
  position: relative;
}

.thumbnail {
  position: absolute;
  bottom: 50px;
}

.thumbnail > img {
  width: 120px;
  height: 68px;
  object-fit: contain;
}

.video-player {
  position: relative;
}

.thumbnail {
  position: absolute;
  bottom: 50px;
}

.thumbnail > img {
  width: 120px;
  height: 68px;
  object-fit: contain;
}
