

h3 {
    color: white;
    position: relative;
}

.login-body {
    display: flex;
    justify-content: center;
}

.login-form {
    width:100%;
    display: flex;
}

.form {
    width: inherit;
}

.login-form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container {
    flex-basis: 660px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
    padding-left: 68px;
    padding-right: 68px;
    padding-bottom: 40px;    
    position: relative;
}


.login-field {
   padding-bottom: 16px; 
   width: 100%;
   height: 50px;
}
#login {
    width: 100%;
    height: 100%;
}

.password-field {
    padding-bottom: 16px;
    width: 100%;
    height: 50px;
}

#password {
    width: 100%;
    height: 100%;
}

