
.login-body {
    display: flex;
    justify-content: center;

}

.login-spinner-field {
    min-width: 450px;
    min-height: 660px;
    flex-basis: 450px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px 68px 40px;
    position: fixed;
}

.login-spinner {
    margin: 0 auto;
    margin-top: 200px;
}

.login-body-container {
    min-height: 660px;
    flex-basis: 450px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px 68px 40px;
    position: relative;
}

.login-form-body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    color: white;
    position: relative;
    margin-bottom: 28px;
}

.login-body-container .mat-form-field {
    width: 100%;
    padding-bottom: 25px;
}

.mat-card-actions {
    padding: 0px 8px 0px;
}

.mat-card-footer {
    padding: 0px 16px 0px;
    color: white;
}

.login-button {
    width: 100%;
    background: #E50914;
    font-size: 16px;
    font-weight: bold;
}


