<div class="login-background">
  <img [src]="imgSrc">
  <div class="background-blur"></div>
</div>
<div class="login-body">
  <mat-card class="login-body-container" fxFlex="500px" fxFlex.xs="100%">
      <h1>Sign In</h1>
      <form class="login-form-body" [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <mat-error class="incorrect" *ngIf="incorrect">Wrong login or password</mat-error>
        <mat-form-field class="login-field">
          <input matInput class="login-input-field" type="text" placeholder="Email or username" formControlName="login" id="login" >
          <mat-error *ngIf="loginForm.controls['login'].hasError('required')">Login is required</mat-error>
        </mat-form-field>
        <mat-form-field class="password-field">
          <input matInput type="text" placeholder="Password" formControlName="password">
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is required</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button class="login-button" color="primary" >Sign In</button>
      </mat-card-actions>
      <mat-card-footer>
        <div class="login-footer">
          <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
          <a class="need-help" [routerLink]="['/help']">Need help?</a>
        </div>
      </mat-card-footer>
      </form>
      <div class="opportunities-footer">
        <div class="sign-up">
          New to Zhoplix?
          <a [routerLink]="['/signup']" class="sign-up-link">Sign up now.</a>
        </div>
      </div>
    </mat-card>
    <div *ngIf="loginSpinner" class="login-spinner-field" fxFlix="500px" fxFlex.xs="100%">
      <mat-spinner class="login-spinner"></mat-spinner>
    </div>
</div>


