


<div class="login-body">
  <div class="container">
    <h3>Sign In</h3>
    <div class="login-form">
      <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
        <div class="login-form-fields">
          <div class="login-input">
              <div class="login-field">
                <input id="login" type="text" formControlName="login">
              </div>
          </div>
          <div class="password-input">
            <div class="password-field">
              <input id="password" type="text" formControlName="password">
            </div>
          </div>
          <button class="login-button" type="submit">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>


