<header>
  <div class="navbar" *ngIf="toShow$ | async as toShow">
    <nav class="navbar-main">
      <div class="navbar-logo">
        <a class="home-link" [routerLink]="['']">
          <img class="main-logo" srcset="{{zhoplixLogoSrcLarge}} 167w,
                                        {{zhoplixLogoSrcMedium}} 134w,
                                        {{zhoplixLogoSrcSmall}} 108w"
              sizes="(max-width: 949px) 108px,
                    (max-width: 1449px) 134px,
                    167px"
              src="{{zhoplixLogoSrcLarge}}" alt="">
        </a>
      </div>
      <div *ngIf="toShowSignIn$ | async as toShow" class="sign-in-button">
        <a [routerLink]="['login']" class="sign-in-link">Sign In</a>
      </div>
      <div *ngIf="toShowProfileMenu$ | async as toShow" class="dropdown" mdbDropdown>
        <a mdbDropdownToggle mdbWavesEffect type="button" class="dropdown-toggle waves-light" mdbWavesEffect>
          <img [src]="{{avatar}}" alt=""
               class="img-fluid rounded-circle z-depth-0" ></a>
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </nav>
  </div>
</header>
