<header>
  <nav
    class="navbar navbar-main navbar-expand-sm navbar-toggleable-sm mb-3"
  >
    <a class="main-logo" [routerLink]="['/']">
      <img src="{{zhoplixLogoSrc}}">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target=".navbar-collapse"
      aria-label="Toggle navigation"
      [attr.aria-expanded]="isExpanded"
      (click)="toggle()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
      [ngClass]="{ show: isExpanded }"
    >
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link" [routerLink]="['/admin']">
            Admin
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
