
.navbar {
  position: relative;
}

.navbar-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 3.5rem;
  background: none;
}

a {
  color: white;
}

.sign-in-button {
  background-color: #e50914;
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  border-radius: 3px;
  font-size: 1rem;
  float: right;
}
/* Profile */

.avatar-img {
  display: flex;
}

.avatar {
  width: 45px;
  height: 45px;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.9);
  border: 1 solid white;
  border-radius: 0;
  margin-top: 20px;
  right: 0;
  font-size: 13px;
  left: auto;
}