<div class="reset-password-background"></div>
<div class="reset-password-body">
  <div class="reset-container">
    <div *ngIf="!loading">
      <h1>Change Password</h1>
      <div *ngIf="isValid">
        <div class="current-email">
          <label for="email" class="email-label">Current Email</label>
          <div id="email" class="email" [innerText]></div>
        </div>
        <form class="reset-password-form" [formGroup]="newPasswordForm" autocomplete="off" (ngSubmit)="onSubmit()">
          <label for="password" class="password-label">New password (6-60 characters)</label>
          <input id="password" class="password" type="password" formControlName="password">
          <label for="passwordConfirmation" class="password-label">Confirm new password</label>
          <input id="passwordConfirmation" class="password" type="password" formControlName="passwordConfirmation">
          <mat-checkbox id="signOutOfAll" formControlName="signOutOfAll">Require all devices to sign in again with new password.</mat-checkbox>
          <div class="buttons">
            <button class="save" type="submit">Save</button>
            <a class="cancel" [routerLink]="['/profile']">Cancel</a>
          </div>
        </form>
      </div>
      <div *ngIf="!isValid">
        <h1>zhopa</h1>
      </div>
    </div>
  </div>
</div>
