.reset-password-background {
    background-size: cover;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #f3f3f3;
}

::ng-deep header {
    background-color: black;
}

.reset-password-body {
    position: relative;
    margin: 115px 30px 0;
}

.reset-container {
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
}

.reset-container h1 {
    font-size: 2.15em;
    font-weight: 400;
    margin: 0 0 .55em;
}

.current-email {
    max-width: 500px;
    margin-left: 0;
    margin-bottom: 5px;
}

.email-label {
    font-size: 1em;
    font-weight: 400;
    color: #808080;
    display: block;
    margin-bottom: 6px;
}

.email {
    font-weight: 400;
}

.reset-password-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 0;
    margin-bottom: 5px;
}

.password-label {
    font-size: 1em;
    font-weight: 400;
    color: #808080;
    display: block;
    margin-bottom: 0;
}

.password {
    margin-bottom: 40px;
    height: 44px;
    text-indent: 10px;
    
}

.buttons {
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.save {
    background-color: rgb(66, 134, 244);
    border: none;
    border-radius: 2px;
    min-width: 98px;
    min-height: 37px;
    color: white;
    font-size: larger;  
    margin-bottom: 25px;
    margin-right: 7px;
}

.save:hover {
    background-color: rgb(100, 156, 245);
}

.cancel {
    padding: 12px;
    width: 98px;
    height: 37px;
    font-size: 13px;
    font-weight: 400;
    color: black;
    text-align: center;
    line-height: 1em;
    background-color: #dddddd;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.cancel:hover {
    background-color: #e6e6e6;
}

.warning {
    display: flex;
    justify-content: flex-start;
    background: #FFA00A;
    align-items: center;
}

.warning-img > svg {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.warning-msg {
    font-weight: 400;
    font-size: 1em;
    color: white;
    vertical-align: middle;
    padding: 20px 10px;
}

.new-request-link {
    text-decoration: underline;
    color: white;
}

::ng-deep .reset-password-form .mat-checkbox-frame {
    border-width: 1px;
}

mat-checkbox {
    font-weight: 400;
    margin-bottom: 5px;
}

::ng-deep .reset-password-form .mat-checkbox-inner-container {
    height: 28px;
    width: 28px;
}


::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: transparent;
  }