<div class="main-background"></div>
<div class="main-container" >
    <div class="my-list">
        <mdb-carousel [isControls]="true" [animation]="'slide'" [interval]="'0'" >
            <mdb-carousel-item class="titles-carousel" *ngFor="let i of slidesCount | counter">
                <div class="titles" *ngFor="let title of myListArray">
                    <img class="title" [src]="title.ImagePath">
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</div>