<div class="footer">
  <div class="footer-wrapper">
    <div class="footer-text">
      <div>
        <p class="footer-top">
          <a>Questions? Contact us.</a>
        </p>
      </div>
      <div>
        <ul class="footer-links">
          <li *ngIf="config['FAQ']" class="footer-link">
            <a>FAQ</a>
          </li>
          <li *ngIf="config['Help Center']" class="footer-link">
            <a>Help Center</a>
          </li>
          <li *ngIf="config['Account']" class="footer-link">
            <a>Account</a>
          </li>
          <li *ngIf="config['Gift Card Terms']" class="footer-link">
            <a>Gift Card Terms</a>
          </li>
          <li *ngIf="config['Media Center']" class="footer-link">
            <a>Media Center</a>
          </li>
          <li *ngIf="config['Investor Relations']" class="footer-link">
            <a>Investor Relations</a>
          </li>
          <li *ngIf="config['Jobs']" class="footer-link">
            <a>Jobs</a>
          </li>
          <li *ngIf="config['Ways to Watch']" class="footer-link">
            <a>Ways to Watch</a>
          </li>
          <li *ngIf="config['Terms of Use']" class="footer-link">
            <a>Terms of Use</a>
          </li>
          <li *ngIf="config['Privacy']" class="footer-link">
            <a>Privacy</a>
          </li>
          <li *ngIf="config['Privacy Statement']" class="footer-link">
            <a>Privacy Statement</a>
          </li>
          <li *ngIf="config['Cookie Preferences']" class="footer-link">
            <a>Cookie Preferences</a>
          </li>
          <li *ngIf="config['Corporate Information']" class="footer-link">
            <a>Corporate Information</a>
          </li>
          <li *ngIf="config['Contact Us']" class="footer-link">
            <a>Contact Us</a>
          </li>
          <li *ngIf="config['Speed Test']" class="footer-link">
            <a href="https://fast.com">Speed Test</a>
          </li>
          <li *ngIf="config['Legal Notices']" class="footer-link">
            <a>Legal Notices</a>
          </li>
          <li *ngIf="config['Zhoplix Originals']" class="footer-link">
            <a>Zhoplix Originals</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
