<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <input type="text" formControlName="name" placeholder="Name">
    </div>
    <div>
        <input type="text" formControlName="description" placeholder="Description">
    </div>
    <div>
        <input type="number" formControlName="ageRestriction" placeholder="Age Restriction">
    </div>
    <div>
        <input #file type="file" (change)="uploadPhoto(file.files)">
    </div>
    <div *ngIf="!uploading">
      <button type="submit">Submit</button>
    </div>
    <div *ngIf="uploading">
      <p>Wait for upload to complete</p>
      <button type="submit" disabled>Submit</button>
    </div>
</form>
