<div class="create-container">
  <div *ngIf="type === 'title'">
    <form [formGroup]="form">
      <div>
        <input type="text" formControlName="name" placeholder="Name">
      </div>
      <div>
        <input type="text" formControlName="description" placeholder="Description">
      </div>
      <div>
        <input type="number" formControlName="ageRestriction" placeholder="Age Restriction">
      </div>
      <div>
        <input #file type="file" (change)="uploadPhoto(file.files)">
      </div>
    </form>
  </div>
  <div *ngIf="type === 'season'">
    season
  </div>
  <div *ngIf="type === 'episode'">
    episode
  </div>
</div>
