<mdb-carousel class="carousel slide" [isControls]="false" [animation]="'slide'" [interval]="'0'" [noWrap]="true">
  <mdb-carousel-item>
    <div class="main-container">
    <div class="simple-container">
      <div class="center-container">
        <div class="plain-container">
          <div class="first-step-logo">
            <img [src]="firstLogo" class="first-logo">
          </div>
          <div class="step-header-container">
            <div class="step-header">
              <span class="step-indicator">
                STEP <b>1</b> OF <b>3</b>
              </span>
              <h1 class="step-title">Здесь могла бы быть ваша реклама</h1>
            </div>
          </div>
          <div class="context-body">
            <ul class="checked-list">
              <li class="bullet">
                В Москве состоялся гей-парад, собрались журналисты, православные активисты, полиция, националисты и разные другие пид@расы. Геи не пришли!
              </li>
              <li class="bullet">
                Вот раньше большая пачка презервативов была на 12 штук, и было очень удобно. А потом сделали по 10 штук. И в чем прикол? Остальные 2 месяца в году не еб@ться что ли?
              </li>
              <li class="bullet">
                  В Воронеже жителям девятиэтажки вместо отопления дали п@зды.
              </li>
            </ul>
          </div>
        </div>
        <div class="submit-btn-container">
          <button type="button" class="submit-btn" (click)="onClickOne(2)">Пошел нахуй?</button>
        </div>
      </div>
    </div>
  </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="main-container">
      <div class="simple-container">
        <div class="center-container">
            <div class="plain-container">
            <div class="step-header-container">
              <div class="step-header">
                <span class="step-indicator">
                  STEP <b>2</b> OF <b>3</b>
                </span>
                <h1 class="step-title">Здесь могла бы быть ваша реклама</h1>
              </div>
            </div>
          </div>
          <div class="submit-btn-container">
            <button type="button" class="submit-btn" (click)="onClickOne(3)">Пошел нахуй?</button>
          </div>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="main-container">
      <div class="simple-container">
          <div class="center-container">
              <div class="plain-container">
              <div class="step-header-container">
                <div class="step-header">
                  <span class="step-indicator">
                    STEP <b>3</b> OF <b>3</b>
                  </span>
                  <h1 class="step-title">Sign up to start your free month</h1>
                  <div class="context-row">Just two more steps and you're done!</div>
                  <div class="context-row"> We hate paperwork, too.</div>
                  <div class="regFormTitle">Create your account.</div>
                </div>
              </div>
              <form class="registration-form-body" [formGroup]="registrationForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px" >
                <mat-card-content class="form-content">
                  <mat-error class="incorrect" *ngIf="incorrect">Ты даун?</mat-error>
                  <mat-form-field class="username-field">
                    <input matInput class="username-input-field" type="text" placeholder="Username" formControlName="username" id="username" >
                    <mat-error *ngIf="registrationForm.controls['username'].hasError('required')">Username is required</mat-error>
                  </mat-form-field>
                  <mat-form-field class="email-field">
                      <input matInput class="email-input-field" type="text" placeholder="Email" formControlName="email" id="email" >
                      <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">Email is required</mat-error>
                    </mat-form-field>
                  <mat-form-field class="password-field">
                    <input matInput type="text" placeholder="Password" formControlName="password">
                    <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">Password is required</mat-error>
                  </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <div class="submit-btn-container">
                      <button type="submit" class="submit-btn">Пошел нахуй?</button>
                    </div>
                </mat-card-actions>
              </form>
            </div>
          </div>
        </div>
      </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
      <div class="main-container">
          <div class="simple-container">
            <div class="center-container">
                <div class="plain-container">
                <div class="email-confirmation-title-container">
                  <div class="email-header">
                    <h1 class="email-title">Confirm your Email</h1>
                  </div>
                </div>
                <div class="confirm-email-row">
                  Please check your inbox for a confirmation email. Click the link in the email to confirm your email address.
                </div>
              </div>
              <div class="submit-btn-container">
                <button type="button" class="submit-btn" >Re-send confrimation email</button>
              </div>
            </div>
          </div>
        </div>
</mdb-carousel-item>
</mdb-carousel>
