.registration-background {
  background-size: cover;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
}

.carousel-body {
  margin-top: 95px;
}

.simple-container {
    display: flex;
    justify-content: center;
    width: 60%;
}

.center-container {
    display: flex;
    flex-direction: column;
    padding: 20px 32px 60px;
}

.plain-container {
    text-align: center;
    flex-basis: 340px;
}

.first-step-logo {
    display: inline-block;
}

.first-logo {
    margin: 100px 0 20px;
    width: 50px;
    height: 50px;
}

.step-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step-indicator {
    font-size: 13px;
}
.step-title {
    display: inline-block;
    font-weight: bold;
    font-size: 23px;
}

.context-body {
    font-size: 17px;
}

.checked-list {
    text-align: left;
}

ul > li {
    margin-bottom: 5px;
}

.bullet {
    list-style: none;
    padding: 0 0 1em 2em;
    position: relative;
}

.checked-list .bullet::before {
    color: rgba(0, 0, 0, 0);
    display: block;
    position: absolute;
    top: 0.3em;
    height: 0.3em;
    width: 0.8em;
    content: '✓';
    left: 0.2em;
    border-bottom: 1px solid #e50914;
    border-left: 1px solid #e50914;
    transform: rotate(-45deg);
}

.submit-btn-container {
    max-height: 70px;
    display: flex;
    align-items: flex-start;
    flex-basis: 340px;
    margin-top: 24px;
    justify-content: center;
}

.submit-btn {
    min-height: 48px;
    font-weight: normal;
    font-size: 17px;
    border-radius: 2px;
    color: #ffffff;
    background-color: #e50914;
    flex-basis: 350px;
    border: none;
    width: 100%;
}

 .main-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

mat-card-content {
    display: flex;
    flex-direction: column;
}

.context-row {
  font-size: 19px;
  text-align: left;
}

.regFormTitle {
  margin-bottom: 13px;
  text-align: left;
  font-size: 19px;
  font-weight: bold;
  margin-top: 10px;
}

.form-content > mat-form-field {
    margin-bottom: 20px;
}

.confirm-email-row {
  font-size: 23px;
}

 .signup-spinner-field {
  display: flex;
  position: absolute;
  flex-basis: 355px;
  min-width: 355px;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  min-height: 400px;
}
/*
.signup-spinner {
  margin: 0 auto;
  margin-top: 200px;
} */

::ng-deep .mat-form-field-flex{
    background-color: white;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    color: #333;
    height: 50px;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    font-size: 16px;
    color: #333;
  }

  ::ng-deep .mat-form-field-label {
    padding: 3px 20px 2px;
    color: #333;
  }

  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red;
  }

  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: red;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color:  #333;
    position: initial;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #8c8c8c;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    display: none;
  }

  ::ng-deep .mat-error {
    padding: 6px 3px;
    font-size: 13px;
    color: red;
  }

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    padding: 10px 25px 0px;
}

  ::ng-deep .mat-form-field-infix {
    font-size: 16px;
  }

  ::ng-deep .mat-input-element {
    caret-color: #333;
    font-size: 16px;
  }

  ::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: #333;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    caret-color: #333;
    padding: 3px 20px 0px;
  }

  ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #a71b1b;
  }
